# configuration for develop and master branch
branches:
  only:
    - develop
    - master
    - /v\d*\.\d*\.\d*/

image: Visual Studio 2022
test: false

pull_requests:
  do_not_increment_build_number: false

install:
  - ps: Invoke-WebRequest 'https://dot.net/v1/dotnet-install.ps1' -OutFile 'dotnet-install.ps1'
  - ps: ./dotnet-install.ps1 -Version 6.0.400 -InstallDir "C:\Program Files\dotnet"

build_script:
  - cmd: dotnet --info
  - cmd: build.cmd CI

after_build:
  - ps: gci -Filter *.trx -Path .\TestResults\ | % { (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/mstest/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_.FullName)) }

artifacts:
  - path: \artifacts\*.*

nuget:
  disable_publish_on_pr: true

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/855da764a995f5aa1a24
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: false
