#source https://ci.appveyor.com/nuget/controlzex
source https://www.nuget.org/api/v2/

framework net462, net45, net40
specific_version: false

nuget 7-Zip.Commandline 9.20.0
nuget gitlink 2.4.0
nuget NuGet.CommandLine
nuget StyleCop.Analyzers
nuget XamlColorSchemeGenerator

nuget ControlzEx @>= 3.0.1
nuget MahApps.Metro
nuget NUnit
nuget NUnit.Console