#source C:\DEV\OSS_Own\ControlzEx\src\bin
#source C:\DEV\OSS_Own\XamlColorSchemeGenerator\Publish
source https://ci.appveyor.com/nuget/controlzex
source https://ci.appveyor.com/nuget/xamlcolorschemegenerator
source https://api.nuget.org/v3/index.json

framework: net45, net462
specific_version: false
redirects: off

nuget gitlink
nuget MSBuild.Sdk.Extras
nuget StyleCop.Analyzers
nuget WpfAnalyzers
nuget XamlColorSchemeGenerator
nuget JetBrains.Annotations copy_local:false

nuget Fody
nuget Costura.Fody

nuget ControlzEx >= 4.0.0-alpha prerelease
nuget MahApps.Metro prerelease

group test
	source https://api.nuget.org/v3/index.json
	framework: net45, net462
	specific_version: false
	redirects: off

	nuget NUnit

group cake
	source https://api.nuget.org/v3/index.json
	framework: net45
	
	nuget Cake
	nuget Cake.Figlet
	nuget Cake.Paket
	nuget Cake.Paket.Module
	nuget GitVersion.CommandLine
	#nuget gitreleasemanager
	nuget NUnit.Console