source https://www.nuget.org/api/v2/
//source https://ci.appveyor.com/nuget/controlzex

framework net462, net45, net40
specific_version: false

nuget 7-Zip.Commandline 9.20.0
nuget gitlink 2.4.0
nuget NuGet.CommandLine

nuget ControlzEx @>= 3.0.1 prerelease
nuget MahApps.Metro 1.5.0
nuget NUnit 3.7.1
nuget NUnit.Console 3.6.1