<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Fluent.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\Users\Sergey\Documents\Visual Studio 2008\Projects\Fluent\Fluent\Fluent.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
  </Rules>
</RuleSet>